<div class="row">
  <div class="col-md-6 offset-md-3">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%= err.statusCode %> Error</h4>
      <p><%= err.message %></p>
      <hr>
      <p class="mb-0">
        <a href="javascript:history.back()" class="btn btn-secondary btn-sm">Go Back</a>
        <a href="/" class="btn btn-primary btn-sm">Home</a>
      </p>
    </div>
  </div>
</div>
